<div class="mb-1 bg-light rounded-3">
  <div class="container-fluid py-1">
    <h4 class="display-5 fw-bold">List of {{ "inventories" | titlecase }}</h4>
    <p class="col-md-8 fs-4">Find various inventories</p>

    <div class="p-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">
              <button
                (click)="enableEdit = !enableEdit"
                class="btn btn-outline-primary btn-sm"
                type="button"
              >
                {{ enableEdit ? "Disable" : "Enable" }} Edit
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="(inventoryList$ | async) as inventories">
            <ng-container *ngIf="inventories.length < 1; else dataTemplate">
              <tr>
                <td colspan="5">No inventories</td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-template #dataTemplate>
            <tr *ngFor="let inventory of inventoryList$ | async; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ inventory.name }}</td>
              <td>{{ inventory.quantity }}</td>
              <td>{{ inventory.price | currency }}</td>
              <td *ngIf="enableEdit; else na">
                <button type="button" class="btn btn-warning btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm mx-1">Delete</button>
              </td>
              <ng-template #na>
                <td>N/A</td>
              </ng-template>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
