<form #sForm="ngForm" (ngSubmit)="onSubmit(sForm)">
  <div *ngIf="alert" class="alert" [ngClass]="alert.type" role="alert">
    {{ alert.msg }}
  </div>
  <div class="mb-3">
    <h3>Subscription Form</h3>
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      ngModel
      required
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <button [disabled]="sForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="p-2">
  <h4>Active Subscriptions</h4>
  <ul>
    <li *ngFor="let s of subscriptions$ | async">
      {{ s.email }}
    </li>
  </ul>
</div>
