<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">List of {{'inventories' | titlecase}}</h1>
    <p class="col-md-8 fs-4">Find various inventories</p>
    <button class="btn btn-outline-primary btn-lg" type="button">Edit Inventories</button>

    <div class="p-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inventory of inventoryList; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ inventory.name }}</td>
            <td>{{ inventory.quantity }}</td>
            <td>{{ inventory.price | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
